{# Requires setup with src.bibliography.register_in_templates #}
{% macro bibliography(name, records) %}
{% if records|length > 0 %}
<div class="panel panel-default">
  <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ name | lower | replace('_', '-')| replace(' ', '-') }}">{{ name }}</a>&nbsp;<a data-toggle="collapse" data-parent="#accordion" href="#collapse-publications">{% if records|length > 1 %}<span class="badge pull-right">{{ records | length }}</span>{% endif %}</a>
      </h4>
  </div>
  <div id="collapse-{{  name | lower | replace('_', '-')| replace(' ', '-') }}" class="panel-collapse collapse in">
    <div class="panel-body">
{% for record in records %}
{% if record.ENTRYTYPE == "article" %}
      <p id="{{ record.ID }}">
      {% if record.icon %}<img alt="" src="{{ record.icon }}" style="height:2.6em;float:left;margin:0px 1ex 0px 0px;"/>{% endif %}
      {{ record.author | format_bib_authors }}<br />
      <i>{{ record. title }}</i>.<br />
      {{ record.journal }} {% if record.volume %}<b>{{ record.volume }}</b>, {% endif %}{% if record.pages %}{{ record.pages }} {% endif %}({{ record.year }}).
      {% if record.comment %} {{ record.comment }}.{% endif %}
      <br />
      {{ record | format_bib_links }}
      </p>
{% elif record.ENTRYTYPE == "inproceedings" %}
      <p id="{{ record.ID }}">
      {% if record.icon %}<img alt="" src="{{ record.icon }}" style="height:2.6em;float:left;margin:0px 1ex 0px 0px;"/>{% endif %}
      {{ record.author | format_bib_authors }}<br />
      <i>{{ record. title }}</i>.<br />
      {{ record.booktitle }} ({{ record.year }}).<br />
      {{ record | format_bib_links }}
      </p>
{% elif record.ENTRYTYPE == "conference" %}
      <p id="{{ record.ID }}">
      {%- if record.icon %}<img alt="" src="{{ record.icon }}" style="height:2.6em;float:left;margin:0px 1ex 0px 0px;"/>{% endif %}
      {%- if record.month %}{{ record.month }}{% endif %}
      {%- if record.day %} {{ record.day }}, {{ record.year }}{% else %} {{ record.year }}{% endif %}
      {%- if record.booktitle %}, {{ record.booktitle }}{% endif %}
      {%- if record.address %}, {{ record.address }}{% endif %}
      {%- if record.howpublished %}, <b>{{ record.howpublished }}</b>{% endif %}:<br/>
      <i>{{ record.title }}</i>.
      {{ record | format_bib_links }}
      </p>
{% elif record.ENTRYTYPE in ["phdthesis", "mastersthesis"] %}
      {%- if record.icon %}<img alt="" src="{{ record.icon }}" style="height:4.2em;float:left;margin:0px 1ex 0px 0px;"/>{% endif %}
      <i>{{ record. title }}</i>.<br/>
      Submitted{% if record.month %} {{ record.month }}{% endif %} {{ record.year }} to the {{ record.school }}.<br/>
      {{ record | format_bib_links }}
{% endif %}
{% endfor %}
    </div>
  </div>
</div>
{% endif %}
{% endmacro %}
