{% extends "base.html" %}
{% block title %}{{ page.title|striptags }} - {{ SITENAME }}{% endblock %}
{% block html_lang %}{{ page.lang }}{% endblock %}
{% block meta %}
    {% if page.author %}
        <meta name="author" content="{{ page.author }}" />
    {% else %}
        <meta name="author" content="{{ AUTHOR }}" />
    {% endif %}
    {% if page.tags %}
        <meta name="keywords" content="{{ page.tags|join(',')|striptags }}" />
    {% endif %}
    {% if page.summary %}
        <meta name="description" content="{{ page.summary|striptags|escape }}" />
    {% endif %}
{% endblock %}
{% block opengraph %}
    {% if USE_OPEN_GRAPH %}
        {% if OPEN_GRAPH_FB_APP_ID %}
            <meta property="fb:app_id" content="{{ OPEN_GRAPH_FB_APP_ID }}"/>
        {% endif %}
        <meta property="og:site_name" content="{{ SITENAME }}" />
        <meta property="og:type" content="article"/>
        <meta property="og:title" content="{{ page.title|striptags|escape }}"/>
        <meta property="og:url" content="{{ SITEURL }}/{{ page.url }}"/>
        <meta property="og:description" content="{{ page.summary|striptags|escape }}"/>
        <meta property="article:published_time" content="{{ page.date.strftime("%Y-%m-%d") }}" />
        {% if page.category %}
            <meta property="article:section" content="{{ page.category }}" />
        {% endif %}
        {% for tag in page.tags %}
            <meta property="article:tag" content="{{ tag }}" />
        {% endfor %}
        {% if page.author %}
            <meta property="article:author" content="{{ page.author }}" />
        {% elif AUTHOR %}
            <meta property="article:author" content="{{ AUTHOR }}" />
        {% endif %}
        {% if page.og_image %}
            <meta property="og:image"
                  content="{{ SITEURL }}/{{ page.og_image }}"/>
        {% elif OPEN_GRAPH_IMAGE %}
            <meta property="og:image"
                  content="{{ SITEURL }}/{{ OPEN_GRAPH_IMAGE }}"/>
        {% endif %}
    {% endif %}
{% endblock %}

{% block canonical_rel %}
<link rel="canonical" href="{{ SITEURL }}/{{ page.url }}">
{% endblock %}

{% block breadcrumbs %}
    {% if DISPLAY_BREADCRUMBS %}
        {% if DISPLAY_CATEGORY_IN_BREADCRUMBS %}
            <ol class="breadcrumb">
                <li><a href="{{ SITEURL }}" title="{{ SITENAME }}"><i class="fa fa-home fa-lg"></i></a></li>
                <li><a href="{{ SITEURL }}/{{ page.category.url }}" title="{{ page.category }}">{{ page.category }}</a></li>
                <li class="active">{{ page.title }}</li>
            </ol>
        {% else %}
            <ol class="breadcrumb">
                <li><a href="{{ SITEURL }}" title="{{ SITENAME }}"><i class="fa fa-home fa-lg"></i></a></li>
                <li class="active">{{ page.title }}</li>
            </ol>
        {% endif %}
    {% endif %}
{% endblock %}

{% block content %}
    <section id="content">
        <article>
            <header class="page-header">
                <h1>
                    <a href="{{ SITEURL }}/{{ page.url }}"
                       rel="bookmark"
                       title="Permalink to {{ page.title|striptags }}">
                        {{ page.title }}
                    </a>
                </h1>
            </header>
            <div class="entry-content">
                <div class="panel">
                    <div class="panel-body">
                        {% include "includes/article_info.html" %}
                    </div>
                </div>
                {% if page.exturl %}
                <i class="fa fa-external-link"></i> <a href="{{ page.exturl }}">{{ page.exturl }}</a>
                {% else %}
                {{ page.content }}
                {% endif %}
            </div>
            <!-- /.entry-content -->
        </article>
    </section>

{% endblock %}

{% block scripts %}
{% endblock %}

{% block mathjax %}
{{ MATHJAX_SCRIPT }}
{% endblock %}
